.logo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(176, 6, 6);
    list-style: none;
    gap: 10em;
}

#txt {
    color: rgb(176, 6, 6);
}

.liNav {
    color: rgb(176, 6, 6);
    
}