.logo {
    background-color: white;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    color: rgb(176, 6, 6);
    list-style: none;
    gap: 10em;
}

#txt {
    color: rgb(176, 6, 6);
}

.liNav {
    color: rgb(176, 6, 6);
    
}

#iconRorm {
    
    height: 500px; 
    width: 500px;
}