.footerDiv {
    background-color: white;
    display: flex;
    justify-content: center;
}

#p {
    color:rgb(163, 34, 34);
    font-size: large;
    font-weight: bold;
}

#a {
    color:rgb(163, 34, 34);
    font-size: large;
    font-weight: bold;
    size: 10px;
}