.bg{
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.592);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal{
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 4px;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    position: relative;
    
}
.modal > input {
    border-radius: 4px;
    font-size: 1.4em;
    background-color: #ffffff;
    border: 2px solid lightgray;
    color: #000000;
    
}

.exit{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0; 
    cursor: pointer;
    font-weight: bold;
}

.loginBtn {
    background-color: rgba(12, 76, 144, 0.874);
    border-radius: 10px;
    height: 2em;
    cursor: pointer;
    
}

.registerBtn {
    background-color: rgba(0, 238, 255, 0.874);
    border-radius: 10px;
    height: 2em;
    cursor: pointer;
    
}

.textLoggaIn {
    font-size: 3em;
}