@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#h1Truppen{
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center
}

.liDiv {
    background-color: grey;
    padding: 6px;
    
}

.ulPlayers {
    font-family: "Montserrat", sans-serif;
    list-style: none;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    position: relative;/* added */
    padding-left:0;
    width: 100%;
    
}

.liPlayers > p {
    max-width: 300px;
}

.liPlayers {
    font-family: "Montserrat", sans-serif;
    list-style: none;
    list-style-type: none;

    
    border-radius: .3em;
    justify-content: center;
    text-align: center;
    
}

.images {
    max-height: 500px;
    max-width: 300px;
    width:auto;
    height: auto;

}